@import "../../../css/config/variables";
@import "../../../css/config/mixins/border";

.maintenance-config {
  //页面样式
  @font-family-default: "Microsoft YaHei UI" !important;
  font-family: @font-family-default;
  background: #fff;
  overflow: hidden;
  header{
    padding: 40/100rem 30/100rem;
    line-height: 1;
    position: relative;
    &:after {
      .Pseudo-border-after();
    }
    .title{
      margin-top: 30/100rem;
    }
    .feedback{
      margin-top: 0.05rem;

      float: right;
      text-align: center;
      line-height: 1;
      span{
        color: #fff;
        line-height: 1;
        display: block;
        margin-top: 8/100rem;
      }
      i{
        color: #fff;
        line-height: 1;
        display: block;
      }
    }
  }
  section{
    margin-bottom: 1.1rem;
    overflow: hidden;
    .left{
      float: left;
      width: 50%;
      li{
        padding: 30/100rem;
        width: 100%;
        float: left;
        position: relative;
        line-height: 1;
        &:after {
          .Pseudo-border-after();
        }
        .edition{
          margin-bottom: 15/100rem;
        }

      }
      li:nth-last-child(1){
        &:after{
          height: 0;
        }
        &:before {
          width: 0
        }
      }

    }
    .right{
      float: right;
      width: 50%;

      li{
        width: 100%;
        float: left;
        padding: 30/100rem ;
        position: relative;
        line-height: 1;
        &:after {
          .Pseudo-border-after();
        }
        .edition{
          margin-bottom: 15/100rem;
        }
        &:before {
          .Pseudo-border-before();
          content: '';
          height: 66/100rem;
          width: 1/100rem;
          display: block;
          position: absolute;
          left: 0;
          top:50%;
          margin-top: -33/100rem;
          transform: scaleX(0.5);
          background: #ccc;
        }
      }

      li:nth-last-child(1){
        &:after{
          height: 0;
        }
        &:before {
          width: 0
        }
      }
    }
  }
  footer{
    position: fixed;
    width: 100%;
    justify-content: center;
    padding-bottom: 30/100rem;
    bottom: 0;
    background: #fff;
    .back{
      height: 80/100rem;
      line-height: 80/100rem;
      text-align: center;
      width: 580/100rem;
      color: #fff;
      background: #dd1d21;
      border-radius: 80/100rem;
      font-size: 307/1000rem;
    }
  }
}